header{
  text-align: center;
}

h1{
  font-size: 500%;
}

h2{
  font-size:1.5em;
}

body{
  margin: 3%;
  border-style: solid;
}

.main_img img{
  display: block;
  width: 50%;
  margin: 0 auto;
}

nav{
  text-align: left;
  font_size: 2em;
}
